html {
	scrollbar-gutter: stable;
}

.manual-page {
	display: flex;
	justify-content: center;
	gap: 30px;
	position: relative;
	margin: 0 20px;
}

.manual-page > main {
	max-width: 600px;
	flex-grow: 1;
	margin-bottom: 20px;
}

@media (max-width: 900px) {
	.manual-page {
		flex-direction: column;
	}

	.manual-page > main {
		max-width: 100%;
	}
}

.manual-page .note {
	background: #3472ff33;
	border: 1px solid #3472ff4f;
	padding: 10px;
	border-radius: 5px;
}

.manual-page .note > p:first-child {
	margin-top: 0;
}
.manual-page .note > p:last-child {
	margin-bottom: 0;
}

.manual-page h1,
.manual-page h2,
.manual-page h3,
.manual-page h4,
.manual-page h5,
.manual-page h6 {
	position: relative;
}

.manual-page *:hover > .heading-link,
.manual-page *:target > .heading-link {
	opacity: 1;
}

.manual-page .heading-link {
	position: absolute;
	transform: translateX(-100%);
	padding: 0 4px;
	top: 0;
	opacity: 0;
}

code {
	background: #383838;
	border-radius: 3px;
	padding: 0.1em 0.4em;
}
@media (prefers-color-scheme: light) {
	code {
		background: #e5e5e5;
		color: #3a3a3a;
	}
}

.table-of-contents {
	min-width: max-content;
}

.table-of-contents > ul {
	position: sticky;
	top: 0;
	margin: 0;
	padding: 0;
	scrollbar-gutter: stable;
	overflow-y: auto;
	max-height: 100vh;
}

.table-of-contents > ul > li:first-child {
	margin-top: 20px;
}

.table-of-contents a {
	color: var(--text-color);
}

.table-of-contents a.active {
	color: var(--accent-color);
}

.table-of-contents ul {
	list-style: none;
}

.table-of-contents li {
	margin: 0.3em 0;
}
