[Unit]
Description=rendajs.org server
After=network.target

[Service]
Type=simple
User=rendajs_org
Environment="PORT=8001"
ExecStart=/usr/local/bin/deno run --allow-env --allow-read --allow-net=0.0.0.0 /home/rendajs_org/rendajs.org/main.tsx
AmbientCapabilities=CAP_NET_BIND_SERVICE
Restart=on-failure

[Install]
WantedBy=multi-user.target
