.landing-page {
	flex-grow: 1;
	flex-shrink: 0;
	display: grid;
	place-content: center;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

main img {
	width: 200px;
	height: 200px;
}

.actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

a.main-button {
	background-color: var(--accent-color);
	color: white;
}
