:root{
	--bg-color: #160e0a;
	--text-color: #eee;
	--accent-color: #ff4d00;
	--accent-text-color: #ff7600;
	--button-color: #443a35;
	--button-text-color: #eaeaea;
	--default-border-radius: 5px;
}
@media(prefers-color-scheme: light){
	:root{
		--bg-color: #fff1e9;
		--text-color: #505050;
		--accent-text-color: #dd2101;
		--button-color: #ffdcd4;
		--button-text-color: #424242;
	}
}

html {
	scroll-behavior: smooth;
}

html, body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: ui-sans-serif, system-ui, sans-serif;
	margin: 0;
}

.page {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

a {
	text-decoration: none;
	color: var(--accent-text-color);
}
a:hover {
	opacity: 0.6;
}

.header-content {
	max-width: 1000px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding: 0 20px;
	height: 3rem;
}

header svg {
	vertical-align: middle;
}

.home-link {
	font-weight: bold;
	display: flex;
	align-items: center;
}

.home-link img {
	width: 50px;
	height: 50px;
}

header a {
	color: var(--text-color);
}

header nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header nav a {
	margin: 15px 7px;
}

.github svg {
	width: 20px;
	height: 20px;
}

.navigation-button {
	white-space: nowrap;
	background: var(--button-color);
	border-radius: var(--default-border-radius);
	color: var(--button-text-color);
	padding: 10px 15px;
	margin: 10px;
}

.navigation-button:hover {
	opacity: 0.85;
}

.navigation-arrow {
	display: inline-block;
	transition: transform 0.2s;
}
.navigation-arrow.left {
	transform: translateX(1px);
}
.navigation-arrow.right {
	transform: translateX(-1px);
}
.navigation-button:hover .navigation-arrow.left {
	transform: translateX(-2px);
}
.navigation-button:hover .navigation-arrow.right {
	transform: translateX(2px);
}


.external-arrow {
	margin-left: 3px;
}

.external-arrow svg {
	transform: translateY(-50%);
}

@media (max-width: 900px) {
	.home-link {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.home-link span {
		display: none;
	}
}

@media (max-width: 500px) {
	header nav {
		display: none;
	}
}
