:root{
	--bg-color: #1b1b1b;
	--text-color: #eee;
	--accent-color: #ff7600;
}
@media(prefers-color-scheme: light){
	:root{
		--bg-color: #fff;
		--text-color: #505050;
		--accent-color: #dd2101;
	}
}

html {
	scroll-behavior: smooth;
}

html, body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-family: ui-sans-serif, system-ui, sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--accent-color);
}
a:hover {
	opacity: 0.6;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header a {
	color: var(--text-color);
	margin: 15px 7px;
}

header svg {
	width: 20px;
	height: 20px;
	fill: currentColor;
	vertical-align: middle;
}
