.manual-page {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	position: relative;
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1000px;
}

.manual-page > main {
	flex-grow: 1;
	margin-bottom: 20px;
}

.manual-page aside {
	padding: 10px;
	border-radius: 5px;
}
.manual-page aside.note {
	background: #3472ff33;
	border: 1px solid #3472ff4f;
}
.manual-page aside.warning {
	background: #ff343433;
	border: 1px solid #ff34344f;
}

.manual-page aside > p:first-child {
	margin-top: 0;
}
.manual-page aside > p:last-child {
	margin-bottom: 0;
}

.manual-page h1,
.manual-page h2,
.manual-page h3,
.manual-page h4,
.manual-page h5,
.manual-page h6 {
	position: relative;
}

.manual-page *:hover > .heading-link,
.manual-page *:target > .heading-link {
	opacity: 1;
}

.manual-page .heading-link {
	position: absolute;
	transform: translateX(-100%);
	padding: 0 4px;
	top: 0;
	opacity: 0;
}

code {
	background: #383838;
	border-radius: 3px;
	padding: 0.1em 0.4em;
}
@media (prefers-color-scheme: light) {
	code {
		background: #e5e5e5;
		color: #3a3a3a;
	}
}

.table-of-contents {
	min-width: max-content;
	position: sticky;
	top: 0;
	margin: 0;
	padding: 0;
	scrollbar-gutter: stable;
	overflow-y: auto;
	max-height: 100vh;
}

.table-of-contents > ul > li:first-child {
	margin-top: 20px;
}

.table-of-contents a {
	color: var(--text-color);
}

.table-of-contents a.active {
	color: var(--accent-text-color);
}

.table-of-contents ul {
	list-style: none;
}

.table-of-contents li {
	margin: 0.3em 0;
}

#hamburgerToggle {
	display: none;
	justify-self: left;
}

.table-of-contents-backdrop {
	position: fixed;
	inset: 0;
	background: black;
	opacity: 0;
	z-index: 99;
	visibility: hidden;
	transition: opacity 0.4s, visibility 0.4s;
}

@media (max-width: 900px) {
	.manual-page {
		flex-direction: column;
	}

	.manual-page > main {
		max-width: 600px;
	}

	#hamburgerToggle.hydrated {
		display: block;
		background-color: transparent;
		border: none;
		padding: 0;
		padding-right: 20px;
		color: var(--text-color);
		cursor: pointer;
	}

	.table-of-contents:not(.open) {
		visibility: hidden;
	}

	.table-of-contents {
		position: fixed;
		top: 0;
		left: 0;
		width: 250px;
		padding: 0 20px;
		box-shadow: 0 0px 20px #00000029;
		height: 100%;
		background: var(--bg-color);
		z-index: 100;
		min-width: auto;
		will-change: transform;
		z-index: 100;
		transform: translateX(-130%);
		transition: transform 0.4s cubic-bezier(0, 0, 0, 1), visibility 0.4s;
	}

	.table-of-contents.open {
		transform: translateX(0);
	}

	.table-of-contents-backdrop.visible {
		visibility: visible;
		opacity: 0.2;
	}
}
